[Desktop Entry]
Version=1.0
Type=Application
Name=Package Armor
Comment=Advanced package installation and management
Exec=/usr/local/lib/package-armor/linux_package_manager
Icon=/usr/local/lib/package-armor/data/flutter_assets/assets/icon/icon.png
Terminal=false
Categories=System;PackageManager;
StartupNotify=true